.navbar {
    display: inline-flex;
    width: 15%;
    height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    overflow-x: hidden;
    align-items: flex-start;
    padding: 20px 40px;
    /* border-right: 1px solid var(--text-500); */
}