.label {
    width: 100%;
    border-bottom: 1px solid rgb(var(--text-400-c), 0.3);
}

.Numinput {
    width: 70px;
    height: 30px;
    text-align: center;
    background-color: var(--background-400);
    border: none;
    border-radius: 50px;
}
.Numinput::-webkit-outer-spin-button, .Numinput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.Numinput-slider {
    width: 100%;
}
