/* Fonts */
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables */
:root {
  color-scheme: dark light;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: var(--text);
}
:root[data-theme="dark"] {
  color-scheme: dark;
    --base: #0f1214;
    --text: #cfcfcf;
}
:root[data-theme="light"] {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
}

/* Font families */
.font-title {
  font-family: 'General Sans', sans-serif;
  font-weight: 700;
  color: var(--text);
}
.font-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: var(--text);
}

/* Font sizes */
h1 {
  font-size: 2.986rem;
}
h2 {
  font-size: 2.488rem;
}
h3 {
  font-size: 2.074rem;
}
h4 {
  font-size: 1.728rem;
}
h5 {
  font-size: 1.44rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 1rem;
}
small {
  font-size: 0.833rem;
}