/* Fonts */
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables */
:root {
  color-scheme: dark light;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: var(--text-400);
}
:root[data-theme="dark"] {
  color-scheme: dark;
  --primary-500: #3A9CFD;
  --text-500: #fff;
  --text-400: #B6BEC9;
  --background-500: #121217;

  --primary-500-c: 58, 156, 253;
  --text-500-c: 255, 255, 255;
  --text-400-c: 182, 190, 201;
  --background-500-c: 18, 18, 23;
}
:root[data-theme="light"] {
  color-scheme: light;
  --primary-500: #0263C5;
  --text-500: #000000;
  --text-400: #363E49;
  --background-500: #E8E8ED;

  --primary-500-c: 2, 99, 197;
  --text-500-c: 0, 0, 0;
  --text-400-c: 54, 62, 73;
  --background-500-c: 232, 232, 237;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font families */
.font-title {
  font-family: 'General Sans', sans-serif;
  font-weight: 700;
  color: var(--text-500);
}
.font-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: var(--text-400);
}

/* Text colors */
.text-primary {
  color: var(--primary-500);
}
.text-500 {
  color: var(--text-500);
}
.text-400 {
  color: var(--text-400);
}

/* Font sizes */
h1 {
  font-size: 2.986rem;
}
h2 {
  font-size: 2.488rem;
}
h3 {
  font-size: 2.074rem;
}
h4 {
  font-size: 1.728rem;
}
h5 {
  font-size: 1.44rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 1rem;
  text-indent: .8rem;
  line-height: 1.7rem;
}
small {
  font-size: 0.833rem;
}