.TextInput-container {
    margin: 20px 10px 0;
}

.TextInput-text {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--background-400);
    border: 2px solid rgb(var(--text-500-c), 0.1);
    border-radius: 50px;
}

.TextInput-text::placeholder {
    color: var(--text-400);
}

.TextInput-text:hover {
    border-color: rgb(var(--primary-500-c), 0.7);
}

.TextInput-text:focus {
    border-color: var(--primary-500);
    outline: none;
    box-shadow: 0 0 8px var(--primary-500);
}